:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --max-width: 1024px;
  --outer-padding: 0rem;
  --outer-margin: 2rem;
  --vertical-padding: 2rem;
  --background-dark: #13151a;
  --text-color: #f0f0f0;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--background-dark);
  scroll-behavior: smooth;
  margin: 0 auto;
  padding: 0 var(--outer-padding);
  width: var(--max-width);
  max-width: calc(100% - var(--outer-margin));
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

body {
  position: relative;
  padding: 2rem 2rem;
  z-index: 10;
}

h1,
h2,
h3,
span {
  color: aqua;
}
p {
  color: var(--text-color);
}
