---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Tools from "../components/Tools.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <main class="mx-auto max-w-screen-lg p-8">
    <!-- intro -->
    <div class="py-36 mb-8 sm:mb-24 flex flex-col">
      <p class="tracking-widest">Hi, my name is</p>
      <p
        class="text-8xl font-semibold tracking-wider -translate-x-[0.2rem] py-6">
        Tony Yang.
      </p>
      <p class="text-3xl tracking-wider py-4">
        A software engineer based in Toronto🍁
      </p>
      <p class="pt-6 w-3/5 tracking-wide">
        As a passionate developer, I've embarked on a multifaceted journey that
        spans web development, creative design, and artificial intelligence.
      </p>
    </div>

    <!-- todo: sections appear on scroll -->
    <div class="py-8 mb-8 sm:mb-24">
      <About heading="About" />
    </div>

    <div class="py-24 sm:mb-24">
      <Tools heading="Tools" />
    </div>

    <div class="py-8 mb-8">
      <Projects heading="Projects" />
    </div>
  </main>
</Layout>

<style></style>
