---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Tools from "../components/Tools.astro";
import Projects from "../components/Projects.astro";
---

<!-- add lazy loading for images -->
<Layout>
  <main class="mx-auto max-w-screen-lg p-8">
    <!-- about section -->
    <div class="py-10">
      <About />
    </div>

    <!-- skills section -->
    <div class="py-10">
      <Tools />
    </div>

    <!-- projects section -->
    <div class="py-10">
      <Projects />
    </div>
  </main>
</Layout>

<style>
  /* main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  } */
</style>
