---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Tools from "../components/Tools.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <main class="mx-auto max-w-screen-lg p-8">
    <div class="py-8">
      <About heading="About" />
    </div>

    <div class="py-8">
      <Tools heading="Skills" />
    </div>

    <div class="py-8">
      <Projects heading="Projects" />
    </div>
  </main>
</Layout>

<style>
  /* main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  } */
</style>
