---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main>
    <h1>Welcome to my <span class="text-gradient">Portfolio</span></h1>
    <div class="">potato</div>

    <div>
      <h2>About</h2>
      <div>Image</div>
      <p>
        Hi, I'm <span>Tony</span>. A developer based in Toronto, Canada. I love
        building mobile web applications with modern technologies.
      </p>
    </div>

    <!-- skills section -->
    <div>
      <h2>Skills</h2>
      <div class="flex flex-row">
        <div>
          <h3>Web</h3>
          <ul class="flex-col">
            <li><p>TypeScript</p></li>
            <li><p>React</p></li>
            <li><p>Svelte</p></li>
            <li><p>Tailwind</p></li>
          </ul>
        </div>

        <div>
          <h3>Systems</h3>
          <ul>
            <li><p>Node</p></li>
            <li><p>SQL</p></li>
            <li><p>C++</p></li>
            <li><p>C#</p></li>
          </ul>
        </div>

        <div>
          <h3>Data</h3>
          <ul>
            <li><p>Python</p></li>
            <li><p>TensorFlow</p></li>
            <li><p>Pandas</p></li>
            <li><p>Jupyter</p></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- grid layout for projects -->
    <div>
      <h2>Projects</h2>
      <ul>
        <li><p>Music Visualizer</p></li>
        <li><p>DJ Mixer</p></li>
        <li><p>Tech News</p></li>
        <li><p>Supercharger App</p></li>
        <li><p>Dino Game</p></li>
        <li><p>Doted</p></li>
        <li><p>Blogger?</p></li>
        <li><p>Jupyter Notebooks</p></li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  h1,
  h2,
  h3 {
    color: aqua;
  }
  p {
    color: white;
  }
</style>

<!-- <style>
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    height: 100vh;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style> -->
