---

---

<nav class="flex flex-row text-white py-8">
  <div class="mr-auto">icon</div>
  <ul class="text-white flex flex-row gap-10">
    <li>Projects</li>
    <li>Gallery</li>
    <li>Blog</li>
  </ul>
</nav>

<style>
  nav {
  }
</style>
