---

---

<nav class="flex flex-row text-white py-8">
  <div class="mr-auto">icon</div>
  <ul class="text-white flex flex-row gap-10">
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>

<style>
  nav {
  }
</style>
