---
import { Image } from "astro:assets";

const pathname = Astro.url.pathname;
console.log(pathname);
---

<nav class="py-8">
  <ul class="text-white flex flex-row gap-10">
    <li>
      <a href="/">Home</a>
    </li>
    <li class="ml-auto">
      <a href="/#about">About</a>
    </li>
    <li>
      <a href="/#projects">Projects</a>
    </li>
    <li>
      <a
        href="/blog"
        class={pathname === "/blog"
          ? "text-orange-500 hover:text-orange-500"
          : ""}>Blog</a
      >
    </li>
  </ul>
</nav>

<style>
  nav {
  }
</style>
