---
import { Image } from "astro:assets";

import { skills } from "../data/constants";
---

<div>
  <h2 id="skills" class="py-4">Skills</h2>
  <div class="flex flex-row justify-around">
    {
      skills.map((category) => (
        <div class="flex flex-col">
          <ul class="flex flex-col gap-8">
            {category.items.map((item) => (
              <li class="icon-wrapper">
                <Image
                  src={item.icon}
                  alt={`${item.name} icon`}
                  height="80"
                  width="80"
                  class="icon rounded-[0.2rem]"
                />
                <p class="icon-name text-center pt-3">{item.name}</p>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>

<style>
  .icon {
    transition:
      filter 0.2s ease,
      transform 0.2s ease;
  }
  .icon-name {
    opacity: 0;
    transition: all 0.2s ease;
  }
  .icon-wrapper:hover > .icon-name {
    opacity: 0.9;
  }

  .icon-wrapper:hover .icon {
    transform: translate(-4px, -4px);
    /* -webkit-filter: drop-shadow(5px 5px 5px rgba(25, 25, 25, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(25, 25, 25, 0.7)); */
    filter: drop-shadow(8px 8px rgba(0, 109, 142, 0.316));
  }
</style>
