---
import { Image } from "astro:assets";

import { skills } from "../data/constants";
---

<div>
  <h2 id="skills" class="py-4">Skills</h2>
  <div class="flex flex-row justify-around">
    {
      skills.map((category) => (
        <div class="flex flex-col">
          <ul class="flex flex-col gap-8">
            {category.items.map((item) => (
              <li>
                <Image
                  src={item.icon}
                  alt={`${item.name} icon`}
                  height="80"
                  width="80"
                  class="shadow rounded-[0.2rem]"
                />
                <p class="text-center">{item.name}</p>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>

<style>
  .shadow {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
    /* Similar syntax to box-shadow */
  }
</style>
